@font-face {
    font-family: "Digital";
    src: url("../fonts/digital-7/digital-7.ttf");
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#CalculatorContainer {
    width: 400px;
    background-color: lightgray;
    border-radius: 4px;
}

#CalculatorDisplay {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 75px;
    font-size: 60px;
    color: black;
    font-family: 'Digital', 'Times New Roman', Times, serif;
    border: 1px solid rgba(0, 0, 0, 0.486);
    overflow-x: hidden;
    overflow-y: hidden;
    max-height: 75px;
    white-space: nowrap;
}

#CalculatorDisplayText {
    margin-right: 12px;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
}

#CalculatorBody {
    display: flex;
    flex-wrap: wrap;
}

.calculatorBtn {
    font-size: 24px;
}

.calculatorBtn:hover {
    background-color: lightgray;
}

.operatorBtn {
    background-color: darkgray;
}

.operatorBtn:hover {
    background-color: rgb(126, 126, 126);
}

.equalsBtn {
    background-color: rgba(0,255,0,0.5);
}

.equalsBtn:hover {
    background-color: rgba(0, 206, 0, 0.5);
}

.clearBtn {
    background-color: rgba(255,0,255,0.5);
}

.clearBtn:hover {
    background-color: rgba(198, 2, 198, 0.5);
}

.reciprocalBtn, .squareBtn, .sqrtBtn {
    background-color: rgba(255,0,0,0.5);
}

.reciprocalBtn:hover, .squareBtn:hover, .sqrtBtn:hover {
    background-color: rgba(192, 0, 0, 0.5);
}

