@font-face {
    font-family: "Digital";
    src: url("../fonts/digital-7/digital-7.ttf");
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#CalculatorContainer {
    width: 400px;
    background-color: lightgray;
    border-radius: 4px;
}

#CalculatorDisplay {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 75px;
    font-size: 60px;
    color: black;
    font-family: 'Digital', 'Times New Roman', Times, serif;
    border: 1px solid rgba(0, 0, 0, 0.486);
    overflow-x: hidden;
}

#CalculatorDisplayText {
    margin-right: 12px;
    max-width: 400px;
    overflow-x: hidden;
}

#CalculatorBody {
    display: flex;
    flex-wrap: wrap;
}

.calculatorBtn {
    font-size: 24px;
}